
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:15px;
    width: 100%;
    
}
.icon{
    font-size: 20px;
}
.icons{
    height: 24px;
    width: 22px;
    margin-left: 20px;
    margin-right: 20px;
}

.flex-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 20px 0 20px 0;
    padding: 40px 20px;
    border: 2px solid #aca;
    box-shadow: 0 0 10px rgba(6, 107, 6, 0.3);
}
.flex-container img{
    margin-right: 15px;
    width: 150px;
}
.flex-container p{
    text-align: center;
}

.gimg{
    position: relative;
    left: 30%;
	border: solid 3px #0000ff;
	border-radius:5%;
    min-height:360px;
    max-height: 15%;
    min-width: 200px ;
    max-width: 40%;
	}
.indeximg{
	border: solid 2px #00aa00;
	border-radius:2%;
	height:110px;
    min-width:250px;
    box-shadow:0 8px 16px rgba(0,0,0,0.7);
	}
	
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #008800;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #000000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100%;
    position:absolute;
    background-color: var(--body-color);
    transition: var(--tran-05);
    min-width: 10%;
    max-width: 90%;
    min-height: 100vh;
    display:grid;
    place-items: center;
}


::selection{
    background-color: var(--primary-color);
    color: #fff;
}



/* ===== Sidebar ===== */
 .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 18px;
    margin-top: -2px;
    display: block;
    color:#00aa00;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box .icons{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
    left: 15px;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    left: 80%;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home {
    position:absolute ;
    top: 0;
    left: 250px;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-size: 12px;
    font-weight: 100px;
    color: var(--text-color);
    padding: 20px 15px;

}

.sidebar.close ~ .home{
    left: 90px;
    height: 100%;
    width:100%;
}
body.dark .home .text{
    color: var(--text-color);
}

#web{
    position:relative;
    display:flex;
    top:0px;
    left:0px;
    width:100%;
    font-size:30px;
   }    
#ger{
    color:#ffffff;
    background-color:#009900;
    width:100%;
    height:30px;
    text-align:center;
    padding-left:20px;

}
.nav{
    padding: 0 1% 0 1%;
    margin-left:5px;
    color:#00cc00;
    }
.p{
        margin-left:15px;
    }

.form-container{
    background-color: #ffffff;
    color: #00aa00;
    padding:20px 30px 30px 30px;
    border-radius: 10px 0 10px 0;
    box-shadow:0 8px 16px rgba(0,0,0,0.4);
    width:85%;
    text-align:center;  
    margin: 0 auto; 

}

.formNameStyle{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.input-group{
    position:relative;
    margin: 18px 0 18px 0;
}
.input-group input{
    width: 100%;
    padding:6px;
    border:2px solid #ddd;
    border-radius: 7px 0 7px 0;
    font-size: 16px;
    transition: border-color 0.3s;
}    
.input-group input:focus{
    border-color: #00aa00;
    outline: none;
}
.input-group label{
    position: absolute;
    top: 10px;
    left:10px;
    opacity: 0;
    color: none;
    font-size: 10px;
    pointer-events: none;
    transition: all 0.2s;
}
.input-group input:focus + label, .input-group input:not(:placeholder-shown) + label {
    top: -15px;
    left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    opacity: 1;
    background-color: none;
}
.sub{
    padding: 10px 20px;
    margin: 10px;
    background-color: #00aa00;
    color: #ffffff;
    border: none;
    font-size: 17px;
    transition: background-color 0.3s, transform 0.1s;
    cursor:pointer;
    border-radius: 10px 0 10px 0;
}
.sub:hover{
    background-color: #0a8d0a;
    box-shadow: 0 5px 5px rgba(116, 145, 116, 0.3);
    transform: translateY(2px);
}
.sub:active{
    background-color: #0000ff;
}
.sub:focus{
    outline:none;
}
.order{
    position:relative;
    left:25%;
    background-color:#00aa00;
    color:#ffffff;
    height:25%;
    width:50%;
    padding:2.5%;
    font-size:16px;
    align:center;
    cursor: pointer;
    border-radius:20px 20px 20px 20px;
    
}
.order:hover{
    background-color: #0a8d0a;
    box-shadow:0 2px #ddd;
    transform: translateY(2px);
}
.order:active{
    background-color: #0000ff;
    box-shadow: 2px 2px #ddd;
}


@property --eyelid {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0% ;
}
@property --eyelid2 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

.eyes{
    width: 100%;
    padding-block: 2%;
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 5%;
    div {
        position: relative;
        left:0%;
        width: 8%;
        aspect-ratio: 1.3;
        background: #ffffff;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before, &:after{
            content: '';
            position: absolute;
            width: 116%;
            height: 116%;
            left: 50%;
            animation: eyelid 5s ease-in-out infinite;
            z-index: 1;
        }
        &:before{
            top:0;
            border-radius: 0% 0% 40% 40%;
            transform: translateY(var( --eyelid)) translateX(-50%);
            border-bottom: 40px solid #000000;
        }
        &:after{
            bottom:0;
            border-radius: 40% 40% 0% 0%;
            transform: translateY(var( --eyelid2)) translateX(-50%);
            border-top: 40px solid #000000;
        }
        i{
            position: absolute;
            width: 50%;
            aspect-ratio: inherit;
            background: #000000;
            border-radius: inherit;
        }
    }
}
@keyframes eyelid {
    0% {
        --eyelid: -50%;
        --eyelid2: 50%;
    }
    3% {
        --eyelid: 0%;
        --eyelid2:0%;
    }
    6% {
        --eyelid: -50%;
        --eyelid2:50%;
    }
    9%,100%{
        --eyelid:0%;
        --eyelid2:0%;
    }
    
}
/*Dark Mode*/
body.dark{
    --body-color: #222;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
body.dark .form-container{
    background-color: #080;
    color: #fff;
    box-shadow:0 5px 5px rgba(100,100,100,0.2); 
}
body.dark .flex-container{
    border: none;
    box-shadow: 0 5px 5px rgba(215, 230, 215, 0.2);
}
body.dark .indeximg{
	    box-shadow:0 5px 5px rgba(210, 218, 213, 0.3);
	}
body.dark .sub{
        background-color: #161;
        color: #ffffff;
        border: none;
        font-size: 17px;
        transition: background-color 0.3s, transform 0.1s;
        cursor:pointer;
        border-radius: 10px 0 10px 0;
    }
    body.dark .sub:hover{
        background-color: #072207;
        box-shadow: 0 5px 5px rgba(211, 223, 211, 0.1);
        transform: translateY(2px);
    }
    body.dark .order{
        box-shadow: 0 5px 5px rgba(215, 230, 215, 0.1);
    }
    body.dark .order:hover{
        background-color: #0a8d0a;
        box-shadow:0 2px 2px rgba(174, 194, 174, 0.1);
        transform: translateY(2px);
    }
    